body {
    background-color: #ddd; /* Background color */
    color: #222; /* Foreground color used for text */
    font-family: '맑은 고딕', 'Malgun Gothic', Gothic, sans-serif;
    font-size: 14px;
    margin: 0; /* Amount of negative space around the outside of the body */
    padding: 0; /* Amount of negative space around the inside of the body */
}
#main-header h2 {
    margin: 0;
    padding: 0;
}
#main-header h2 a {
    background-color: #ccc;
    border-bottom: 1px solid #666;
    color: #222;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}
#main-navigation ul li a {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}
.master-description {display:none;}
.menu-title {display:none;} 
.pull-right  {display:none;} 
.aside-list {display:none;}
.outer-menu-item ul li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
.outer-menu-item ul li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
#main-navigation ul li a:active {
    background-color: blue;
    color: white;
}
#main-navigation ul li a:hover {
    background-color: blue;
    color: white;
}
#main-navigation ul.hide {
    display: none;
}
#main-navigation  ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}
#main-navigation div.leftButton {
    position: absolute;
    top: 7px;
    left: 6px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
    line-height: 28px;
    border-width: 0 8px 0 8px;
    -webkit-border-image: url(../images/button.png) 0 8 0 8;
}
#main-navigation div.pressed {
    -webkit-border-image: url(../images/button_clicked.png) 0 8 0 8;
}

#gallery {
            border: 10px solid #1D0C16; /* 굵은 테두리 */
            height: 400px; /* 높이 */
            width: 450px; /* 너비 */ 
            margin-left: auto; /* 여백 자동 */
            margin-right: auto;
            overflow: visible; /* 오버플로일 경우 visible로 */
            background: #272229; /* 배경색 */
            box-shadow: #888888 10px 10px 20px;
            }
#gallery ul{
            margin-left:-5px; /* 갤러리 가운데에 콘텐츠가 올 수 있도록 */
            }

        /* 썸네일 각 항목에 대한 스타일 */
#gallery ul li {
            list-style:none;  /* 불릿 없앰 */
            display:inline-table; /* 테이블 스타일로 배치*/
            padding:12px; /* 안여백은 각각 10px로 */
        }
             
        /* 평소 큰 이미지 .pic 에 대한 스타일 */
#gallery ul li .pic{
               opacity:0; /* 페이드아웃 효과 */
               visibility:hidden; /* 처음에는 보이지 않게 */ 
               position:absolute; /* 고정 위치 */
               margin-top: 30px; /* 상단 여백 */
               margin-left:-100px; /* 왼쪽으로 20픽셀 이동해서 */
               border:2px solid black; /* 검은색 테두리 그림 */
               box-shadow:#272229 2px 2px 10px; /* 박스 그림자 */ 
            } 
#gallery ul li:hover .pic {
               width:320px; /* 너비 */
               height:240px; /* 높이 */
               opacity:1; /* 불투명하게 */
               visibility:visible; /* 화면에 보임 */
               float:right; /* 오른쪽으로 플로팅 */
            }
#gallery ul li .small:hover{
                cursor:pointer;
            }
